@model TimeTracking.Models.Multiplemodels
@{

    long syncIdentifier;
    if (Model.SyncObjectsModel.Id!=null)
    {
         syncIdentifier = Model.SyncObjectsModel.Id;
    }
    else
    {
        syncIdentifier = 0;
    }
    long timeIdentifier;
    
    if (Model.TimeActivityModel.Id >0)
    {
        timeIdentifier = Model.TimeActivityModel.Id;
    }
    else
    {
        timeIdentifier = 0;
    }
    string invoicestring = string.Empty;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Time Tracking Sample APP For Dummies</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    <script language="javascript">
        var timeIdentifierScript = "";

        $(document).ready(function () {
        
            debugger;
            $("#aInvoice").click(function (e) {
                e.preventDefault();
                debugger;
                if (timeIdentifierScript>0) {
                    window.location.href = "/Invoice/Load/" + timeIdentifierScript;
                }
                else {
                    timeIdentifierScript = @timeIdentifier;
                    window.location.href = "/Invoice/Load/" + timeIdentifierScript;
                }
                
            }
            );
        });
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Time Tracking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Settings", "Index", "Home")</li>
                    <li>@Html.ActionLink("Time Entry", "Load", "TimeActivity", new { id = syncIdentifier }, null)</li>
                    @*<li>@Html.ActionLink("Invoices", "Load", "Invoice", new { id = timeIdentifier }, null)</li>*@
                    <li><a href="#" id="aInvoice">Invoices</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Time Tracking Sample App for Dummies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
